<!DOCTYPE html>
<html>
<head>

    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    {% stylesheets
    "bundles/vistiyosuiui/components/bootstrap/dist/css/bootstrap.min.css"
    "bundles/vistiyosuiui/components/font-awesome/css/font-awesome.min.css"
    "bundles/vistiyosuiui/css/common.css" filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% block stylesheets %}
    {% endblock %}
</head>

<body>
{% block menu %}
{% endblock %}
<div class="container" role="main">
    {% block body %}
    {% endblock %}
</div>

<!-- Include all JavaScripts, compiled by Assetic -->
{% javascripts
"bundles/vistiyosuiui/components/jquery/dist/jquery.min.js"
"bundles/vistiyosuiui/components/bootstrap/dist/js/bootstrap.min.js" %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>